.itemDetailContainerComp{
   box-sizing: border-box;
   background-color: white;
   border: 2px solid black;
   width: 300px;
   padding: 25px;
   border-radius: 20px;
   margin: 25px auto;
   p{
      margin: 5px;
   }
}
.superBalls{
   margin: 100px;
   display: flex;
   justify-content: center;
}