.ItemListContainer{
   display: flex;
   justify-content: center;
   p{
      background-color: white;
      padding: 30px 80px 30px 80px;
      border-radius: 100px;
      font-weight: 900;
      color: rgb(26, 26, 26);
   }
}