nav{
   display: flex;
   justify-content: space-around;
   background-color: white;
}
ul{
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
li{
   margin-inline: 20px;
}
a{
   text-decoration: none;
   color: inherit;
   display: flex;
}