.countContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;

   .controles {
      margin: 10px;
      display: flex;

      .numeroContador {
         border: 1px solid black;
         border-radius: 5px;
         padding-inline: 20px;
         margin-inline: 10px;
      }
   }


}